Package: bpx-beacon-client-cli
Version: {{ BPX_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: BPX Chain <hello@bpxchain.cc>
Description: BPX Beacon Client
 BPX is an EVM-compatible blockchain using a Proof of Space and Time consensus.
